/*! Documentation style here  */

.container-docs{
flex-direction: column;
}

.container-docs .navbar{
    box-shadow: 0 0 10px var(--bg-color-sec);
}


.main-docs{
    width: 100%;
    align-items: flex-start;
    color: var(--text-sec);
    position: relative;
    justify-content: space-between;
}

/** Sidebar style here */

.sidebar{
    box-shadow: 0 5px 10px var(--bg-color-sec);
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding: 1rem;
    position: sticky;
    top: 0;
    flex-basis: 300px;
    /* transform: translateX(-100%); */
}


.sidebar-links{
    align-items: flex-start;
    flex-direction: column;
}

.sidebar-links .links{
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
}

.docs-sec{
    margin:0 1rem;
    flex-grow: 1;
    padding-right: 2rem;
}

.docs-sec section{
    padding: 1rem;
}

.docs-sec section > *{
    margin: 1rem 0 ;
}

.comp-intro>*,
.comp-details>*{
    margin: 1rem 0;
}

.iframe-sec{
    width: 100%;
}


