/*! Main Container section style here */

body {
    width: 100%;
}

/* .container-main {
    flex-direction: column;
} */

/*! Landing section style here  */

.container-main .landing-sec {
    min-height: 100vh;
    width: 100%;
}


/** Navbar style here */

.navbar {
    height: 10vh;
    width: 100%;
}

.navbar .nav-left {
    margin-right: auto;
    margin-left: 1rem;
}

.navbar .nav-left a {
    color: var(--color-pri);
    font-family: 'Mogra', cursive;
}

.navbar .nav-right a {
    margin: 0 1rem;
}


/**  Main landing style here*/

.main-landing {
    min-height: 90vh;
}


.main-landing .main-lan-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.main-lan-left>* {
    margin: 1rem;
}

.lan-btns>* {
    margin-right: 1rem;
    margin-top: 1rem;
}

.main-lan-right {
    margin: 0 1rem;
}

.main-lan-right img {
    background-color: var(--text-pri);
    border-radius: 50px 80px 80px 60px;

}



/* * Installation section style here */

.install-sec {
    width: 100%;
}

.install-sec>* {
    margin: 1rem 0;
}


.install-sec .ins-sec-left>* {
    margin: 1rem;
}

.ins-sec-left .inst-sub-heading>* {
    margin: 1rem 0;
}


.ins-sec-right {
    width: 60%;
}

.iframes {
    margin: 1rem;
    background-color: var(--text-pri);
    border-radius: 50px 80px 80px 60px;
    border: transparent;
    height: 200px;
    width: 100%;
}


/* ! Media queries here */


@media screen and (max-width:876px) {
    html {
        font-size: 14px
    }


    .install-sec {
        flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    html {
        font-size: 12px;
    }

    .install-sec {
        flex-direction: column;
    }
}

@media screen and (max-width:630px) {
    .main-landing {
        flex-direction: column;
    }

    .main-lan-right {
        display: none;
    }

    .ins-sec-right {
        width: 100%;
    }


    .iframes {
        background-color: var(--bg-color-pri);
        margin-bottom: 1rem;
    }

}