/* ! Spacing styles here */

/* * Margin styles here */


/* All sides margin */
.margin-8px {
    margin: 8px;
}

.margin-1rem {
    margin: 1rem;
}

.margin-2rem {
    margin: 2rem;
}

/* Top and bottom margin */
.margin__tb-4px {
    margin: 4px 0;
}

.margin__tb-8px {
    margin: 8px 0;
}

/* Left and right margin  */
.margin__lr-4px {
    margin: 0 4px;
}

.margin__lr-8px {
    margin: 0 8px;
}


/* * Padding styles here */

/* All sides Padding */

.padding-8px {
    padding: 8px;
}

.padding-1rem {
    padding: 1rem;
}

.padding-2rem {
    padding: 2rem;
}

/* top and bottom side padding */

.padding__tb-4px {
    padding: 4px 0;
}

.padding__tb-8px {
    padding: 8px 0;
}

/* left and right side padding */
.padding__lr-4px {
    padding: 0 4px;
}

.padding__lr-8px {
    padding: 0 8px;
}

/*! BOrder radius styling here  */

.border__rad-full {
    border-radius: 50%;
}

.border__rad-4px {
    border-radius: 4px;
}

.border__rad-8px {
    border-radius: 8px;
}

.border__rad-12px {
    border-radius: 12px;
}

/*! Headline style here  */


.headline-1 {
    font-size: 3rem;
    line-height: 4rem;
}

.headline-2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.headline-3 {
    font-size: 1.5rem;
    line-height: 2rem;
}


/*! Text typography style here */

.text-bigger {
    font-size: 3rem;
    line-height: 4rem;
}

.text-big {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
}

.text-mid {
    font-size: 1.2rem;
    line-height: 2rem;
}

.text-small {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-smaller {
    font-size: .5rem;
    line-height: 1rem;
}

.text-primary {
    color: var(--color-pri);
}

.text-heading {
    color: var(--color-pri);
}

.text-secondary {
    color: var(--text-sec);
    font-weight: 500;
}