@import url(components.css);

.alerts {
    width: 80%;
}

.alert-pri {
    background-color: var(--text-pri);
    color: var(--color-white);
}

.alert-suc {
    background-color: var(--color-off-green);
    color: var(--color-green);
}

.alert-war {
    background-color: var(--color-off-yellow);
    color: var(--color-yellow);
}

.alert-dan {
    background-color: var(--color-off-red);
    color: var(--color-red);
}