@import url(components.css);


.avatar-big{
    width: 6em;
    height: 6em;
}
.avatar-mid{
    width: 4em;
    height: 4em;
}
.avatar-sml{
    width: 2em;
    height: 2em;
}

.avatar-txt{
    color: var(--color-sec);
    background-color: var(--color-off-white);
    font-size: 100%;
}