@import url(components.css);

.btns {
    cursor: pointer;
    padding: .8rem 1.2rem;
    border: none;
    color: var(--color-white);
    font-weight: 550;
    transition: all .3s ease;
    text-decoration: none;
}

/** Solid buttons here */

.btn__primary {
    background-color: var(--color-pri);
}

.btn__secondary {
    background-color: var(--color-grey);
}

.btn__icon {
    background-color: var(--color-pri);
}

.btn__icon>* {
    margin: 0 2px;
}

.btn__float {
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--color-pri);
    box-shadow: 0px 0px 15px 4px var(--color-off-white);
}

.btn__link {
    text-decoration: underline;
    color: var(--color-pri);
    font-weight: 600;
}


/** Ouline style here  */

.btn__primary-outline,
.btn__icon-outline {
    color: var(--color-pri);
    outline: 2px solid var(--color-pri);
}

.btn__secondary-outline {
    color: var(--color-grey);
    outline: 2px solid var(--color-grey);
}

.btn__float-outline {
    width: 2.8rem;
    height: 2.8rem;
    color: var(--color-pri);
    outline: 2px solid var(--color-pri);
    box-shadow: 0px 0px 15px 4px var(--color-off-white);
}

/*! hover states here  */

.btn__primary:hover {
    background-color: var(--text-pri);
}


.btn__secondary:hover {
    background-color: var(--color-off-white);
}



.btn__icon:hover {
    background-color: var(--text-pri);
}



.btn__float:hover {
    background-color: var(--text-pri);
}


.btn__link:hover {
    text-decoration: none;
    color: var(--text-pri);
}


.btn__primary-outline:hover,
.btn__icon-outline:hover,
.btn__float-outline:hover {
    color: var(--color-white);
    background-color: var(--color-pri);
}

.btn__secondary-outline:hover {
    color: var(--color-white);
    background-color: var(--color-grey);
}