@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*! For documentation purpose */
#cards-sec .card {
    border-radius: 4px;
    max-width: 20rem;
    max-height: 30.25rem;
}

#cards-sec .card.card__horizontal,
#cards-sec .card.card__newarrival {
    max-width: initial;
}

/*! Component styles here */

.card {
    position: relative;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--color-off-white);
    transition: transform 0.3s ease-in-out;
}

.card.grid {
    gap: 0;
}

/*! Vertical card style here  */

.card__vertical {
    color: var(--color-pure-black);
    grid-template-rows: 3fr 1fr;
}

/** Card upper section */

.card__upper-icon {
    width: 100%;
    justify-content: flex-end;
}

.card__upper-icon i {
    position: absolute;
    cursor: pointer;
    font-size: 1.2em;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-pure-white);
    top: 0;
    flex-wrap: nowrap;
}

.fa-heart.fas {
    color: var(--color-pure-red);
}

.card__upper-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    transition: all 0.6s ease-in-out;
}

.card__upper-image img {
    object-fit: contain;
    margin: 1rem;
}

/* * Card lower section */

.card__sec-lower {
    line-height: 1.5rem;
    background-color: var(--color-pure-white);
}

.card__sec-lower .lower__sec-details {
    margin: auto;
    justify-content: flex-end;
}

.card__sec-lower .price__sec-current,
.card__sec-lower .details__sec-discount {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-pure-black);
}

/* Previous price style */

.card__sec-lower .price__sec-prev {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-grey);
    text-decoration: line-through;
}

/* Discount style here */

.card__sec-lower .details__sec-discount {
    color: var(--color-grey);
}

/* Lower section buttons style */

.lower__sec-btn {
    width: 100%;
}

.lower__sec-btn button {
    /* Buttons font don't get inherits */
    font-family: inherit;
    width: 100%;
}

/*! Badge card style here */

.card__badge-icon {
    top: 0.5rem;
    left: 0.5rem;
    padding: 4px;
    color: var(--color-pure-white);
    background-color: var(--color-pure-red);
    position: absolute;
}

/*! Card horizontal style here */

.card__horizontal {
    color: var(--color-pure-black);
    grid-template-columns: 1.5fr 2.5fr;
}

.card__horizontal .card__sec-lower {
    justify-content: space-around;
}

.card__horizontal .lower__sec-details {
    width: 70%;
    margin: 0;
}

.card__horizontal .details__sec-title {
    font-size: 1.5rem;
}

.card__horizontal .details__sec-price {
    justify-content: flex-start;
}

.card__horizontal .price__sec-current {
    font-size: 2rem;
}

.card__horizontal .lower__sec-btn {
    width: 70%;
    justify-content: space-around;
}

/*! Shadow card style here  */

.card__shadow {
    box-shadow: -1px 0px 10px var(--text-sec);
}

/*! Text only card here  */

.card__textonly {
    grid-template-rows: 1fr 1.5fr;
    max-width: 22rem;
}

.card__dismiss {
    position: relative;
}

.dismiss__btn {
    cursor: pointer;
    font-size: 1.2rem;
    right: 0.5rem;
    top: 0.5rem;
    position: absolute;
    transition: all 0.3s linear;
}

.dismiss__btn:hover {
    transform: scale(1.1);
    transition: all 0.3s linear;
}

/*! Text overlay card here  */

.card__textover {
    position: relative;
}

.overlay__sec-text {
    color: var(--color-pure-white);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    transform-origin: left;
}

.overlay__sec-text.new-arr {
    bottom: 40%;
    background-color: var(--color-trans-red);
}

.overlay__sec-text.oos {
    font-weight: 900;
    color: var(--color-white);
    background-color: var(--color-trans-grey);
    bottom: 0;
    top: 0;
}

.overlay__sec-text.oos p {
    width: 100%;
    background-color: var(--color-trans-red);
}

/*! New Arrival card here  */

.card__newarrival {
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.card__newarrival .card__sec-lower {
    justify-content: space-around;
    align-items: flex-start;
}

.card__newarrival .card__sec-lower>* {
    margin-left: 3rem;
}

/*! E-comm producr card style here */

.card__sec-upper {
    position: relative;
}

/** Card overlay section style here  */
.card__upper-overlay {
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
    z-index: -10;
}

.card__e-commerce:hover .card__upper-image {
    transform: scale(1.1);
}

.card__e-commerce:hover .card__upper-overlay {
    z-index: 10;
    transform: translateY(0%);
}

/** Cart icon style here  */
.shopping__cart-icon {
    --icon-width: 1.5rem;
    --icon-height: 1.5rem;
    cursor: pointer;
    color: var(--color-pri);
    outline: 2px solid var(--color-pri);
    width: var(--icon-width);
    height: var(--icon-height);
    margin: 1rem 0.5rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.shopping__cart-icon::before {
    content: "";
    outline: 2px solid var(--color-pri);
    position: absolute;
    overflow: hidden;
    width: calc(var(--icon-width) - 0.6rem);
    height: calc(var(--icon-height) - 1rem);
    bottom: calc(var(--icon-width) - -2px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
}

.shopping__cart-icon:hover {
    color: var(--color-pure-white);
    background-color: var(--color-pri);
}

.shopping__cart-icon:hover::before {
    height: calc(var(--icon-height) - 0.9rem);
}

.card__upper-overlay .btns {
    width: 100%;
}

.card__e-commerce .card__sec-lower {
    z-index: 99;
    padding: 1rem;
}