@import url(components.css);

/* Modal box style here */
.modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Active modal style here */
.modal-box.modal-active {
    position: fixed;
    background-color: var(--color-trans-grey);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* modal style here */
.modal {
    padding: 1rem;
    position: relative;
    background-color: var(--color-pure-white);
    min-height: 15rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.modal .modal-title-sec{
    padding: .5rem 0;
    border-bottom: 1px solid var(--color-grey);
}

/* Modal buttons style here */
.modal .modal-btn-sec {
    display: flex;
    justify-content: flex-end;
}